h2{
  font-family: serif;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  color: #ffffff;
}

.blank-section{
  min-height: 100px;
}

.text-bold{
  font-weight: bold;
}

.filter-white {
  filter: invert(92%) sepia(99%) saturate(2%) hue-rotate(339deg)
    brightness(103%) contrast(100%);
}

.border-radius-4 {
  border-radius: 8px;
}

.decoration-none {
  text-decoration: none;
}

.bg-surface {
  background-color: #ebe5e5;
}

/* name-responsive */
@media screen and (max-width: 600px) and (min-width: 0px) {
  .text-name {
    display: none;
  }
}

.body-login {
  height: 100%;
}
.form-login {
  background: #dadef4;
  padding: 50px 50px 20px 50px;
  width: 450px;
  border-radius: 30px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 30%);
}

.form-login input {
  border-radius: 10px;
}

.content-dashboard .menu-items {
  min-height: 500px;
}

.content-dashboard .menu-items .menus img {
  width: 120;
  height: 120px;
  color: #dadef4;
}

.icon-check{
  width: 80px;
  height: 80px;
  filter: invert(43%) sepia(34%) saturate(734%) hue-rotate(92deg) brightness(94%) contrast(89%);
}

/* REPORT */
.report-selected {
  background-color: #dedede;
}

/* TABLE INPUT SAMPLE */
.table-input-sample tbody td{
  vertical-align: middle;
}

/* print page */
.print-page * {
  font-family: Arial, Helvetica, sans-serif;
}

.print-page .header{
  border-bottom: 3px solid black;
}
.print-page .header .text-headline{
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.print-page .header .text-address{
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.print-page .patient-table{
  margin-top: 12px;
  width: 100%;
}

.print-page .patient-table td{
  border: 1px solid;
  padding: 1px 12px 1px 12px;
  font-size: 12px;
}

.print-page .section-sample{
  margin-top: 12px;
}

.print-page .text-headline{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.print-page .section-sample .table-sample{
  width: 100%;
  font-size: 12px;
}
.print-page .section-sample .table-sample thead th{
  border: 1px solid black;
  text-align: center;
}

.print-page .section-sample .kesan {
  border-bottom: 1px solid black;
}

/* .print-page .section-sample .table-sample tbody td{ 
  text-align: center;
 } */
