a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  color: #ffffff;
}

.text-bold{
  font-weight: bold;
}

.filter-white {
  filter: invert(92%) sepia(99%) saturate(2%) hue-rotate(339deg)
    brightness(103%) contrast(100%);
}

.border-radius-4 {
  border-radius: 8px;
}

.decoration-none {
  text-decoration: none;
}

.bg-surface {
  background-color: #ebe5e5;
}

/* name-responsive */
@media screen and (max-width: 600px) and (min-width: 0px) {
  .text-name {
    display: none;
  }
}

.body-login {
  height: 100%;
}
.form-login {
  background: #dadef4;
  padding: 50px 50px 20px 50px;
  width: 450px;
  border-radius: 30px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 30%);
}

.form-login input {
  border-radius: 10px;
}

.content-dashboard .menu-items {
  min-height: 500px;
}

.content-dashboard .menu-items .menus img {
  width: 120;
  height: 120px;
  color: #dadef4;
}

/* REPORT */
.report-selected {
  background-color: #dedede;
}

/* TABLE INPUT SAMPLE */
.table-input-sample tbody td{
  vertical-align: middle;
}